.proceedings-contents,
.proceedings-header {
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
    line-height: 1.4;
    font-size: 16px;
    max-width: 50em;
    padding: 2em;
}

.proceedings-contents h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
}

.proceedings-contents h2 {
    font-size: 1.5em;
    margin: 1em 0 1em 0;
    padding: .5em;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.proceedings-contents h3.paper-list-title {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
    padding: 0;
}

.proceedings-contents img {
    max-width: 20em;
    margin: 2em;
}

.proceedings-contents td {
    padding-right: 1em;
}

.proceedings-contents .proceedings-title-authors a,
.proceedings-header a,
.proceedings-contents a.intro-link {
    text-decoration: none;
}

.proceedings-contents .proceedings-title-authors a:hover,
.proceedings-header a:hover,
.proceedings-contents a.intro-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.proceedings-contents a.intro-link {
    font-size: 1.5em;
    display: inline-block;
    margin: 1em 0 1em 0;
}

.proceedings-contents ul.proceedings-list {
    padding: 0;
}

.proceedings-contents ul.proceedings-list li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 5em auto;
    margin: 2em 0 2em 0;
}

.proceedings-contents .author-name-separator {
    color: #999;
    font-weight: 100;
    font-size: 1.25em;
    line-height: 0;
}
